ion-segment-button {
    min-width: 10%;
}

.toolbar{
    display: flex;
    justify-content: center;
}

.save-button {
    width: 45vh;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}



