/*
ion-header{
    background-color: #fe8514;
  }
  ion-toolbar {
    background-color: #fe8514;
  }
  ion-title {
    background-color: #fe8514;
  }
  
  ion-content{
    background-color: #fe8514;
    color: #fe8514;
  }
  */